[user]
    name = Maciej Konieczny
    email = hello@narf.pl
[core]
    excludesfile = /Users/narf/.gitglobalignore
[alias]
    a = add . --verbose
    b = branch
    c = commit --all --verbose
    ca = commit --all --verbose --amend
    co = checkout
    d = !git diff | $EDITOR -
    i = !git init && git add . && git commit --message='initial commit'
    l = !python ~/dotfiles/.scripts/git-narflog.py | less
    la = !git log --graph --pretty=format:'%ad %s' --date=short | less
    m = rebase master
    p = stash pop
    r = rebase --interactive HEAD~10
    rc = rebase --continue
    s = stash save
    sl = stash list
    st = status
    web = instaweb
    who = shortlog --summary --numbered --email
[instaweb]
    httpd = webrick  # OS X love
