[user]
    name = Maciej Konieczny
    email = hello@narf.pl
[core]
    excludesfile = /Users/narf/.gitglobalignore
[alias]
    a = !git add . && git commit --all --verbose
    b = !python ~/.scripts/git/branch.py
    bm = checkout master
    c = commit --all --verbose
    ca = commit --all --verbose --amend
    cl = clean -d --force
    d = !git diff | $EDITOR -
    h = help
    i = !git init && git add . && git commit --message='initial commit'
    l = !python ~/.scripts/git/log.py | less
    la = !git log --graph --pretty=format:'%ad %s' --date=short | less
    lsha = !git log --oneline -n $(expr 1 + $(git l | wc -l))
    m = rebase master
    msg = commit --allow-empty --message
    ohm = symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master
    p = stash pop
    r = !python ~/.scripts/git/rebase.py
    rh = reset --hard
    s = !git add . && git stash save
    sl = !git stash list | less
    st = status
    who = shortlog --summary --numbered --email
    x = !open -a gitx .
