[user]
    name = Maciej Konieczny
    email = hello@narf.pl

[github]
    user = narfdotpl
    token = !security 2>&1 >/dev/null find-generic-password -gs github.token \
            | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'

[core]
    excludesfile = /Users/narf/.gitglobalignore

[alias]
    a = !git add . && git commit --all --verbose
    ar = !git add . && git rebase --continue
    b = !python ~/.scripts/git/branch.py
    bm = checkout master
    c = commit --all --verbose
    ca = commit --all --verbose --amend
    car = !git commit --all --verbose --amend && git rebase --continue
    cl = clean -d --force
    clx = clean -d --force -x
    d = !python ~/.scripts/git/diff.py
    gh = !hub browse
    h = help
    i = !git init && git add . && \
        git commit --allow-empty --message='initial commit'
    l = !python ~/.scripts/git/log.py | less
    ll = !git log --graph --pretty=format:'%ad %s' --date=short | less
    lsha = !git log --oneline -n $(expr 1 + $(git l | wc -l))
    m = rebase master
    msg = commit --allow-empty --message
    ohm = symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master
    push-upto = !python ~/.scripts/git/push-upto.py
    r = !python ~/.scripts/git/rebase.py
    rh = reset --hard
    root-branch = !python ~/.scripts/git/root-branch.py
    s = status --short
    sl = !git stash list | less
    sp = stash pop
    ss = !git add . && git stash save
    t = tag -a
    who = shortlog --summary --numbered --email
    x = !open -a gitx .
