[user]
    name = Maciej Konieczny
    email = hello@narf.pl

[github]
    user = narfdotpl

[color]
    ui = auto

[core]
    excludesfile = ~/.gitfiles/global-ignore

[hub]
    http-clone = true

[init]
    templatedir = ~/.gitfiles/template

[merge]
    ff = only

[push]
    default = current

[alias]
    a = !git add . && git c
    aa = !git add . && git ca
    ap = !git add --patch && git cv && git q3
    ar = !git add . && git r
    b = !python ~/.scripts/git/branch.py
    ba = !git backup --force
    backup = !python ~/.scripts/git/backup.py
    bb = checkout -
    bm = checkout master
    bmm = branch --merged master
    c = !git cv --all && git q3
    ca = !git diff HEAD | gvim -R --nofork - && git cv --all --amend && git q3
    car = !git ca && git r
    cmp = !python ~/.scripts/git/get-compare-links.py
    co = checkout
    cp = cherry-pick
    ctags = !.git/hooks/ctags
    cv = commit --verbose
    d = !python ~/.scripts/git/diff.py
    e = !$EDIT $(git u)
    gca = gc --aggressive
    gh = !hub browse
    h = help
    i = !git init && git add . && \
         git msg \"created repo :$(gshuf -n 1 -e sparkles metal v cake):\"
    ig = !git s --ignored | grep '!!' | awk '{ print substr($0, 4) }' | more
    is = !git gh -- issues
    l = !python ~/.scripts/git/log.py | grcat conf.git-l | less -R
    ll = !git lo | grcat conf.git-l | less -R +G
    lo = log --oneline --reverse
    ls = !git lo --max-count=$(git l | wc -l | tr -d ' ') | grcat conf.git-l
    m = !python ~/.scripts/git/update-branch.py
    mm = merge -
    msg = commit --allow-empty --message
    ohm = symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master
    pu2 = !python ~/.scripts/git/push-upto.py
    q3 = !(afplay -v 0.5 $(find ~/sandbox/q3-sounds -name $(gshuf -n 1 -e \
           excellent impressive perfect defense *holyshit \
          ).wav) &)
    r = !python ~/.scripts/git/rebase.py
    ra = !git rebase --abort && git ctags
    rh = reset --hard
    root-branch = !python ~/.scripts/git/root-branch.py
    rv = remote --verbose
    s = status --short
    sd = svn dcommit
    sf = submodule foreach
    sl = !git stash list | less
    sm = !git sf git bm && git sf git m && git c
    sp = stash pop
    sr = svn rebase
    ss = !git add . && git stash save
    t = commit --amend --cleanup=whitespace
    ta = tag -a
    u = !git s | grep 'UU' | awk '{ print substr($0, 4) }' | more
    when-joined = !python ~/.scripts/git/when-joined.py
    who = shortlog --summary --numbered --email
    x = !open -a gitx .
    xa = !git annex add . && git c
    xl = annex lock
    xu = annex unlock
