[user]
    name = Maciej Konieczny
    email = hello@narf.pl

[github]
    user = narfdotpl
    token = !security 2>&1 >/dev/null find-generic-password -gs github.token \
            | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'

[core]
    excludesfile = ~/.gitglobalignore

[diff]
    tool = gvimdiff

[push]
    default = current

[alias]
    a = !git add . && git c
    aa = !git add . && git ca
    ar = !git add . && git r
    b = !python ~/.scripts/git/branch.py
    backup = !python ~/.scripts/git/backup.py
    bb = checkout @{-1}
    bm = checkout master
    c = commit --all --verbose
    ca = !git diff HEAD | gvim -R --nofork - && git c --amend
    car = !git ca && git r
    cl = clean -d --force
    clx = !git cl -x
    co = checkout
    cp = cherry-pick
    d = !python ~/.scripts/git/diff.py
    dt = difftool --no-prompt
    e = blame
    gca = gc --aggressive
    gh = !hub browse
    h = help
    i = !git init && git add . && git msg 'created repo'
    ignored = !git s --ignored | grep '!!' | awk '{ print substr($0, 4) }' | \
               more
    l = !python ~/.scripts/git/log.py | less
    ll = !git log --reverse --pretty=format:'%ad %s' --date=short | less +G
    lm = !git lo --author=\"$(git config user.name)\" | less +G
    lo = log --oneline --reverse
    lsha = !git lo --max-count=$(expr 1 + $(git l | wc -l))
    m = !python ~/.scripts/git/update-branch.py
    msg = commit --allow-empty --message
    ohm = symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master
    pu2 = !python ~/.scripts/git/push-upto.py
    r = !python ~/.scripts/git/rebase.py
    rh = reset --hard
    root-branch = !python ~/.scripts/git/root-branch.py
    s = status --short
    sl = !git stash list | less
    sp = stash pop
    sr = svn rebase
    ss = !git add . && git stash save
    t = commit --amend --cleanup=whitespace
    ta = tag -a
    u = !git s | grep 'UU' | awk '{ print substr($0, 4) }' | more
    when-joined = !python ~/.scripts/git/when-joined.py
    who = shortlog --summary --numbered --email
    x = !open -a gitx .
