snippet -
	-> ${1}
snippet =
	=> ${1}
snippet .f
	.find(${1})
snippet 4
	$(${1})
snippet F
	false${1}
snippet N
	null${1}
snippet T
	true${1}
snippet a
	alert(${1})
snippet b
	break${1}
snippet c
	class ${1}
snippet e
	else
	    ${1}
snippet l
	console.log(${1})
snippet p
	preventDefault()${1}
snippet r
	return ${1}
