snippet a
	added ${1}
snippet c
	changed ${1}
snippet d
	-- debug ${1}
snippet f
	fixed ${1}
snippet i
	implemented ${1}
snippet m
	made ${1}
snippet r
	removed ${1}
snippet re
	refactored ${1}
snippet rec
	recorded progress ${1}
snippet s
	switched ${1}
snippet st
	started ${1:using }
snippet t
	tweaked ${1}
snippet u
	updated ${1}
snippet w
	WIP: ${1}
snippet x
	experimented with ${1}
