snippet b
	{% block ${1} %}
	{% endblock %}
snippet e
	{% else %}
		${1}
snippet ex
	{% extends "${1:base}.html" %}
snippet for
	{% for ${1} %}
	{% endfor %}
snippet i
	{% include "${1}.html" %}
snippet if
	{% if ${1} %}
	{% endif %}
snippet wi
	{% with ${1} %}
	{% endwith %}
