snippet 1
	<!doctype html>
	<html lang="en">
	    <head>
	        <meta charset="utf-8">
	        <title>${1}</title>
	    </head>
	    <body>
	    </body>
	</html>
snippet b
	{% block ${1} %}
	{% endblock %}
snippet e
	{% else %}
		${1}
snippet ex
	{% extends "${1:base}.html" %}
snippet for
	{% for ${1} %}
	{% endfor %}
snippet i
	{% include "${1}.html" %}
snippet if
	{% if ${1} %}
	{% endif %}
snippet wi
	{% with ${1} %}
	{% endwith %}
